<div class="sign_in">
	<h2>请使用 Google 帐号登录系统</h2>
	
	<%= link_to user_omniauth_authorize_path(:google_oauth2), class: "btn btn-danger btn-lg google" do %>
		<i class="fa fa-google-plus"></i> 使用 Google Oauth2 登录
	<% end %>
</div>