<%= render partial: "shared/article", object: @article, locals: { index: false } %>
<section>
	<h1>Comments</h1>
	<div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
</section>

<script type="text/javascript">
	var disqus_shortname = 'wido';
	var disqus_identifier = <%=raw @article.disqus_identifier.to_json %>;
	var disqus_url = <%=raw article_url(@article).to_json %>;
	var disqus_script = 'embed.js';

	(function () {
		// var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		// dsq.src = 'https://' + disqus_shortname + '.disqus.com/' + disqus_script;
		// (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	}());
</script>