<%= render :partial => "workspace/shared/list", object: @collection %>

<div class="panel panel-main">
	<%= render :partial => "tabs", locals: { tab: :show } %>

	<hgroup>
		<h4><%= @link.title %></h4>
		<p><%= link_to @link.url %></p>
	</hgroup>
</div>
