<%= render partial: "workspace/shared/list", locals: { collection: @collection } %>

<div class="view view-main">
	<%= render partial: "tabs", locals: { tab: :show } %>

	<hgroup>
		<h4><%= @link.title %></h4>
		<p><%= link_to @link.url %></p>
	</hgroup>
</div>
