<li>
	<span></span>
	<%= f.file_field :file, as: :file %>
	<%= f.check_box :_destroy %>
	<a class="btn trash"><i class="fa fa-trash-o"></i></a>
	<a class="btn undo only-removed"><i class="fa fa-undo"></i></a>
</li>