@import "compass";

$baseFontSize: 18px;
$baseLineHeight: $baseFontSize * 1.5;
@import "bootstrap";
@import "font-awesome";
@import "style";
@import "article";



body {
	padding-top: 70px;
}

aside {
	.nav-stacked {
		li {
			border: 1px solid #ddd;
			border-bottom: none;
			margin-top: 0;


			&:first-child {
				@include border-radius(4px 4px 0 0);
			}

			&:last-child {
				@include border-radius(0 0 4px 4px);
				border-bottom: 1px solid #ddd;
			}
		}
	}
}

