@import "compass";
@import "bootstrap";
@import "bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css";
@import "font-awesome";

html, body {
	max-height: 100%;
	height: 100%;
}

#surface {
	height: 100%;
	position: relative;
	overflow: hidden;

	> header {
		margin-bottom: 0;
	}
	
	> .container {
		@include box-sizing(border-box);
		padding: $navbar-height 0 0 0;
		height: 100%;
		width: 100%;
	}
	
	#sidebar {
		@include box-sizing(border-box);
		width: 220px;
		height: 100%;
		float: left;
	}
	
	#content {
		height: 100%;
		margin-left: 220px;
		overflow: auto;
		
		.view {
			height: 100%;
		}
		
		.view-aside {
			width: 30%;
			float: left;
			height: 100%;
		}
		
		.view-main {
			margin-left: 30%;
			height: 100%;
		}
	}
}

$primary-border-color: #c4c3ce;

#header {
	border-color: #9898A7;
	
	.navbar-brand {
		color: #646475;
		text-shadow: 1px 1px 0 #ffffff;
		font-weight: bold;
		margin-right: 30px;
	}
	
	.navbar-form {
		input {
			opacity: 0.65;
			@include transition(width ease 0.15s,
								opacity ease 0.15s,
								border-color ease-in-out 0.15s,
								box-shadow ease-in-out 0.15s);

			&:focus {
				opacity: 1;
				width: 20em;
			}
		}
	}
}

#sidebar {
	border-right: 1px solid $primary-border-color;
	background: #f0f0f3;
	position: relative;
	
	h3 {
		color: #999999;
		text-shadow: 1px 1px 0 #ffffff;
		font-size: 90%;
		padding-left: 0.8em;
		line-height: 1;
	}
	
	.nav-list {
		> li > a {
			padding: 0.5em 1em;
			color: #585868;
			text-shadow: 1px 1px 0 #ffffff;
		}
		
		.active {
			> a {
				background-color: #f3f3f5;
				border: 1px solid #CFCFD6;
				border-width: 1px 0;
			}
		}
	}

	footer {
		display: block;
		position: absolute;
		bottom: 0.2em;
		left: 0.2em;
		right: 0.2em;
	}
}

.view {
	> header {
		background: #f8f8f8;
		padding-bottom: 0.5em;
	}
}

.view-aside {
	@include box-sizing(border-box);
	border-right: 1px solid $primary-border-color;
	overflow: auto;
}

.view-main {
	@include box-sizing(border-box);
	padding: 5px 20px;
	overflow: auto;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	
	li {
		padding: 0.4em 0.8em;
		position: relative;
		
		border: 0 solid #d5d5db;
		border-bottom-width: 1px;
		
		&[data-url] {
			// cursor: pointer;
		}

		&:first-child {
			border-top-width: 1px;
		}
		
		hgroup {
			position: relative;
			margin-bottom: 0.2em;
			
			h4 {
				margin: 0;
				font-size: 100%;
				font-weight: normal;
				
				a {
					/*color: black;*/
					/*text-decoration: none;*/
				}
			}
		}


		.actions-wrapper {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 50px;
			@include background(linear-gradient(left, rgba(255,255,255,0), #fff 40%));
			opacity: 0;
			@include transition(opacity 0.4s);
		}

		.actions {
			position: absolute;
			top: 50%;
			margin-top: -9px;
			right: 12px;
		}

		&:hover {
			.actions-wrapper {
				opacity: 1;
				@include transition(opacity 0.8s);
			}
		}
		
		.labels {
			margin: 0.2em 0 0 0;
			line-height: 1;
			color: #999;
			
			.label {
				font-size: $base-font-size * 0.65;
				line-height: $base-font-size * 0.65 + 2px;
				padding: 1px 3px;
				opacity: 0.8;
			}
		}
	}
}



.form-actions {
	padding: 19px 20px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: whitesmoke;
	border-top: 1px solid #e5e5e5;
}

.form-group.date {
	@include clearfix;

	label {
		display: block;
	}

	.form-control {
		width: 20%;
		float: left;
	}
}


.wd-article-content {
}

.wd-article-attachments {
	padding-left: 0;

	ul {
		padding-left: 1em;
	}

	li {
		@include clearfix;
		position: relative;
		border-bottom: 1px solid whitesmoke;
		margin: 0.5em 0;

		.inner {
			@include display-box;
			@include box-orient(horizontal);
			@include box-align(center);
		}

		&:before, &:after {
			display: none;
		}

		input[type=checkbox] {
			display: none;
		}

		input[type=file] {
			display: none;
		}

		span {
			@include box-flex(1);
			word-break: break-all;
			display: block;
		}

		.btn {
			display: block;
			border: none;
			padding: 1px 4px;
		}

		.only-removed {
			display: none;
		}
	}

	li.removed {
		span {
			text-decoration: line-through;
		}

		.btn {
			display: none;
		}

		.only-removed {
			display: inline-block;
		}
	}
}

.btn-transparent {
	background: transparent;
	border-color: transparent;
}