@import "compass";

@import "bootstrap.extend";
@import "bootstrap-datetimepicker/build/css/bootstrap-datetimepicker";
@import "bootstrap-tagsinput/dist/bootstrap-tagsinput";
@import "font-awesome";
@import "article";

html, body {
	max-height: 100%;
	height: 100%;
}

#surface {
	height: 100%;
	position: relative;
	overflow: hidden;

	> header {
		margin-bottom: 0;
	}
	
	> .container {
		@include box-sizing(border-box);
		padding: $navbar-height 0 0 0;
		height: 100%;
		width: 100%;
	}
	
	#sidebar {
		@include box-sizing(border-box);
		width: 220px;
		height: 100%;
		float: left;
	}
	
	#content {
		height: 100%;
		margin-left: 220px;
		overflow: auto;
		
		.view {
			height: 100%;
		}
		
		.view-aside {
			width: 30%;
			float: left;
			height: 100%;
		}
		
		.view-main {
			margin-left: 30%;
			height: 100%;
		}
	}
}

$primary-border-color: #c4c3ce;

#header {
	border-color: #9898A7;
	
	.navbar-brand {
		color: #646475;
		text-shadow: 1px 1px 0 #ffffff;
		font-weight: bold;
		margin-right: 30px;
	}
	
	.navbar-form {
		input {
			opacity: 0.65;
			@include transition(width ease 0.15s,
								opacity ease 0.15s,
								border-color ease-in-out 0.15s,
								box-shadow ease-in-out 0.15s);

			&:focus {
				opacity: 1;
				width: 20em;
			}
		}
	}
}

#sidebar {
	border-right: 1px solid $primary-border-color;
	background: #f0f0f3;
	position: relative;
	
	h3 {
		color: #999999;
		text-shadow: 1px 1px 0 #ffffff;
		font-size: 90%;
		padding-left: 0.8em;
		line-height: 1;
	}
	
	.nav-list {
		> li > a {
			padding: 0.5em 1em;
			color: #585868;
			text-shadow: 1px 1px 0 #ffffff;
		}
		
		.active {
			> a {
				background-color: #f3f3f5;
				border: 1px solid #CFCFD6;
				border-width: 1px 0;
			}
		}
	}

	footer {
		display: block;
		position: absolute;
		bottom: 0.2em;
		left: 0.2em;
		right: 0.2em;
	}
}

.view {
	> header {
		background: #f8f8f8;
		padding-bottom: 0.5em;
	}
}

.view-aside {
	@include box-sizing(border-box);
	border-right: 1px solid $primary-border-color;
	overflow: auto;
}

.view-main {
	@include box-sizing(border-box);
	padding: 5px 20px;
	overflow: auto;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	
	li {
		padding: 0.4em 0.8em;
		position: relative;
		
		border: 0 solid #d5d5db;
		border-bottom-width: 1px;
		
		&[data-url] {
			// cursor: pointer;
		}

		&:first-child {
			border-top-width: 1px;
		}
		
		hgroup {
			position: relative;
			margin-bottom: 0.2em;
			
			h4 {
				margin: 0;
				font-size: 100%;
				font-weight: normal;
				
				a {
					/*color: black;*/
					/*text-decoration: none;*/
				}
			}
		}


		.actions-wrapper {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 50px;
			@include background(linear-gradient(left, rgba(255,255,255,0), #fff 40%));
			opacity: 0;
			@include transition(opacity 0.4s);
		}

		.actions {
			position: absolute;
			top: 50%;
			margin-top: -9px;
			right: 12px;
		}

		&:hover {
			.actions-wrapper {
				opacity: 1;
				@include transition(opacity 0.8s);
			}
		}
		
		.labels {
			margin: 0.2em 0 0 0;
			line-height: 1;
			color: #999;
			
			.label {
				font-size: $base-font-size * 0.65;
				line-height: $base-font-size * 0.65 + 2px;
				padding: 1px 3px;
				opacity: 0.8;
			}
		}
	}
}



.form-actions {
	padding: 19px 20px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: whitesmoke;
	border-top: 1px solid #e5e5e5;
}

.form-group.date {
	@include clearfix;

	label {
		display: block;
	}

	.form-control {
		width: 20%;
		float: left;
	}
}


.wd-article-attachments {
	padding-left: 0;

	ul {
		padding-left: 0.5em;
		list-style-position: inside;
	}

	li {
		@include clearfix;
		position: relative;
		border-bottom: 1px solid whitesmoke;
		margin: 0.5em 0;

		.inner {
			@include display-box;
			@include box-orient(horizontal);
			@include box-align(center);
		}

		&:before, &:after {
			display: none;
		}

		input[type=checkbox] {
			display: none;
		}

		input[type=file] {
			display: none;
		}

		span {
			@include box-flex(1);
			word-break: break-all;
			display: block;
		}

		.btn {
			display: block;
			border: none;
			padding: 1px 4px;
		}

		.only-removed {
			display: none;
		}
	}

	li.removed {
		span {
			text-decoration: line-through;
		}

		.btn {
			display: none;
		}

		.only-removed {
			display: inline-block;
		}
	}
}


.btn-transparent {
	background: transparent;
	border-color: transparent;
}





form {
	.form-group {
		&.article_title {
			margin-top: 20px;
			margin-bottom: 5px;
		}

		&.article_tag_list {
			margin-bottom: 0;
		}
	}

	hr {
		margin: 0.3em 0 0.5em 0;
	}

}

.bootstrap-tagsinput {
	border: none;
	@include box-shadow(none);
	margin-bottom: 5px;
}


.wd-tabs-radio {
	.form-label, label {
		position: relative;
		display: block;
		margin: 0;
		line-height: 1.428571429;
	}

	.form-label {
		font-weight: bold;
		padding: 10px 10px 10px 0;
	}
	
	label {
		padding: 10px 15px;
		margin-right: 2px;
		border: 1px solid transparent;
		border-radius: 4px 4px 0 0;
		cursor: pointer;
		font-weight: normal;

		&:hover {
			text-decoration: none;
			background-color: #eeeeee;
		}

		input {
			margin-right: 0.2em;
		}
	}

	.active {
		label {
			color: #555555;
			background-color: white;
			border: 1px solid #dddddd;
			border-bottom-color: transparent;
		}
	}
}



.users-page {
	background-color: #eee;

	.sign_in {
		padding-top: 80px;
		max-width: 450px;
		margin: 0 auto;
		text-align: center;

		.btn.google {
			margin-top: 0.5em;
			padding-left: 45px;

			i {
				font-size: 1.8em;
				position: absolute;
				margin-left: -1.0em;
			}
		}
	}


	form.profile {
		padding-top: 50px;
		max-width: 400px;
		margin: 0 auto;

		.user_slug {
			label {
				display: block;
			}
		}

		.alert, p {
			font-size: 130%;
		}

		.form-group {
			label, .help-block {
				font-size: 150%;
			}
		}

		.btn {
			margin-top: 1em;
			width: 100%;
		}
	}
}



body.simple {
	background-color: #eee;

	.container {
		padding: 70px 0 50px 0;
	}

	.preview {
		background: white;
		padding: 30px;
		@include border-radius(6px);
		@include box-shadow(0 3px 9px rgba(0,0,0,0.5));
	}

}


.wd-editor {
	border: 1px solid #a9a9a9;

	.wd-editor-toolbar {
		padding-bottom: 5px;
		padding-left: 5px;
		margin: 0;
		background-color: #f5f5f5;
		border-bottom: 1px solid #a9a9a9;

		> .btn-group, > .btn-text, > .btn {
			margin-top: 5px;
			margin-right: 5px;
			margin-left: 0;
			float: left;
		}
	}

	.wd-editor-body {
		position: relative;
	}

	.wd-editor-content {
		margin-right: 25%;
	}

	.wd-editor-sider {
		border-left: 1px solid $primary-border-color;
		
		width: 25%;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;

		padding: 5px 10px 20px 10px;
		overflow: auto;

		h4 {
			font-size: 110%;
			margin-top: 0;
		}

		label {
			font-size: 110%;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
	}

	textarea {
		resize: none;
		border-radius: 0px;
		box-shadow: none;
		border: none;
	}
}

