<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Wido2 Login</title>
	<%= stylesheet_link_tag    "workspace" %>
	<%= javascript_include_tag "workspace" %>
	<%= csrf_meta_tags %>
</head>

<body class="simple">
<div class="container">
	<%= yield %>
</div>
</body>
</html>
